Source: unrealircd
Section: unknown
Priority: extra
Maintainer: alexandernst <alexandernst@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Homepage: https://www.unrealircd.org/
Vcs-Git: git@github.com:unrealircd/unrealircd.git
Vcs-Browser: https://github.com/unrealircd/unrealircd

Package: unrealircd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UnrealIRCd IRC server
